<!DOCTYPE html>
<html>
<head>
	<title>New data</title>
	
</head>
<body>
<center>
	<h1>
		New
	</h1>

</center>
<form action="/new" method="POST">
	BookID: <br>
	<input type="text" name="bid" required><br>
	AuthorID: <br>
	<input type="text" name="aid" required><br>
	Author Name: <br>
	<input type="text" name="aname" required><br>
	Book Name<br>
	<input type="text" name="bname" required><br>
	MRP: <br>
	<input type="text" name="mrp" required> <br>
	Previous Balance: <br>
	<input type="text" name="pbalance" required><br>
	Copies Printed<br>
	<input type="text" name="cprinted" required><br>
	Total copies:<br>
	<input type="text" name="tcopies" required><br>
	Specimen Issued:<br>
	<input type="text" name="sissued" required><br>
	Copies Sold:<br>
	<input type="text" name="csold" required><br>
	Balance stock<br>
	<input type="text" name="bstock" required><br>
	Royalty Rate:<br>
	<input type="text" name="rrate" required><br>
	Royalty Amount:<br>
	<input type="text" name="ramount" required><br><br>

	<input type="submit" name="submit" value="Save">

</form>
</body>
</html>